@font-face {
	font-display: swap;
    font-family: 'Albertus Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/Albertus-Medium-Regular.woff') format('woff');
}

body {
    background-color: white;
    color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    font-family: 'Albertus Medium';
	justify-content: center;
}

header {
  position: absolute;
  top: calc(100%/3);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

header img {
	max-height: calc(100vh/3);
	width: auto;
}

@media (orientation : portrait) {
  img {
    max-width: calc(100vw/3);
    height: auto;
  }
}
