@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 200;
  src: local('FiraGO-LightItalic'),
       url('../webfonts/FiraGO-LightItalic.woff2') format('woff2'),
       url('../webfonts/FiraGO-LightItalic.woff') format('woff'),
       url('../webfonts/FiraGO-LightItalic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 200;
  src: local('FiraGO-Light'),
       url('../webfonts/FiraGO-Light.woff2') format('woff2'),
       url('../webfonts/FiraGO-Light.woff') format('woff'),
       url('../webfonts/FiraGO-Light.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 400;
  src: local('FiraGO-Italic'),
       url('../webfonts/FiraGO-Italic.woff2') format('woff2'),
       url('../webfonts/FiraGO-Italic.woff') format('woff'),
       url('../webfonts/FiraGO-Italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 400;
  src: local('FiraGO-Regular'),
       url('../webfonts/FiraGO-Regular.woff2') format('woff2'),
       url('../webfonts/FiraGO-Regular.woff') format('woff'),
       url('../webfonts/FiraGO-Regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 500;
  src: local('FiraGO-MediumItalic'),
       url('../webfonts/FiraGO-MediumItalic.woff2') format('woff2'),
       url('../webfonts/FiraGO-MediumItalic.woff') format('woff')
       url('../webfonts/FiraGO-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 500;
  src: local('FiraGO-Medium'),
       url('../webfonts/FiraGO-Medium.woff2') format('woff2'),
       url('../webfonts/FiraGO-Medium.woff') format('woff'),
       url('../webfonts/FiraGO-Medium.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 700;
  src: local('FiraGO-BoldItalic'),
       url('../webfonts/FiraGO-BoldItalic.woff2') format('woff2'),
       url('../webfonts/FiraGO-BoldItalic.woff') format('woff')
       url('../webfonts/FiraGO-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 700;
  src: local('FiraGO-Bold'),
       url('../webfonts/FiraGO-Bold.woff2') format('woff2'),
       url('../webfonts/FiraGO-Bold.woff') format('woff'),
       url('../webfonts/FiraGO-Bold.ttf') format('truetype');
}
:root {
  --basic-leading: calc(1rem * 1.5);
  --color-accent: #d00027;
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --font-weight-headings: 500;
  --font-weight-body: 200;
}
::selection {
 background: var(--color-accent);
 color: var(--color-light);
}
html {
  font-size: 16px;
}
body {
  background-color: var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  font-family: 'FiraGO', Helvetica, 'Segoe UI', Tahoma, 'Noto Sans', sans-serif;
  font-size: 1rem;
  font-variant-numeric: oldstyle-nums;
  font-weight: var(--font-weight-body);
  line-height: 1.5;
  min-height: 100vh;
  margin: 0 var(--basic-leading);
}

header {
  align-item: center;
  display: flex;
  justify-content: center;
}
main {
  margin-bottom: var(--basic-leading);
}
footer {
  align-items: center;
  border-top: 2px solid var(--color-accent);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
  padding: calc(var(--basic-leading) - 1px) 0;
}
figure {
  margin: 0;
}
img {
  display: block;
  max-height: calc(100vh / 2);
  max-width: calc(100vw / 2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  break-inside: avoid;
  font-weight: var(--font-weight-headings);
  margin: calc(var(--basic-leading)*1.333333) 0 calc(var(--basic-leading)*0.666667);
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  line-height: calc(var(--basic-leading)*2)
}
h2 {
  font-size: 2rem;
  line-height: calc(var(--basic-leading)*2)
}
h3 {
  font-size: 1.5rem;
  line-height: calc(var(--basic-leading)*2)
  }
h4 {
  font-size: 1.0rem;
  }
h5 {
  font-size: 1.0rem;
  font-style: italic;
  }
h6 {
  font-size: var(--basic-leading);
  font-style: italic;
  font-weight: var(--font-weight-body);
  }
p {
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  margin: 0;
}
p + p {
  margin: var(--basic-leading) 0 0 0;
}
a {color: var(--color-accent);}
a:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
}
@media ( min-width: 75ch) {
  body {
    margin: 0 auto;
    max-width: 75ch;
  }
}
